<html>
    <head>
        <style>
            th,td{
                padding: 10px;border:1px black solid;
                
            }
            .sidenav,.leftnav{
                height: 50%;
                width: 160px;
                
               
                background-color: aqua;
                padding-top: 20px;
                float: left;
            }
            .leftnav{
                
                
               float: right;
            }
         </style>

    </head>
    <body>
        <h4>Diet plan</h4>
        <div class="sidenav">
            <p> foods no to eat</p>
            <table>
                <tr><th></th></tr>
                <tr><th></th></tr>
                <tr><th></th></tr>
                <tr><th></th></tr>
                <tr><th></th></tr>
            </table>
        </div>
        <div class="leftnav">
            <p> pecautions to take</p>
            <table>
                <tr><th></th></tr>
                <tr><th></th></tr>
                <tr><th></th></tr>
                <tr><th></th></tr>
                <tr><th></th></tr>
            </table>
        </div>
        <table style="border:2px black solid;">
            <tr>
                <th > MORNING SNACK </th>
                <th > BREAK FAST </th>
                <th > LUNCH </th>
                <th >  SNACK </th>
                <th > DINNER </th>
               
            </tr>
            <tr>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                
            </tr>

        </table>
    </body>
</html>