<html>
    <head>
        
    </head>
    <center>
    <body>

            <h3> DIABETS PREDICTION </h3>
        <form action="{{url_for('predict')}}" method="post"  >
            <h4>Enter : <input type="text"  name = "pregnant" placeholder="pregnant " required="required" /></h4>
            <h4>Enter : <input type="text"  name = "glucose" placeholder=" glucose" required="required" /></h4>
            <h4>Enter : <input type="text"  name = "insulin" placeholder="insulin " required="required" /></h4>
            <h4>Enter : <input type="text"  name = "bmi" placeholder=" bmi" required="required" /></h4>
            <h4>Enter : <input type="text"  name = "age" placeholder=" age" required="required" /></h4>
            <h4>Enter : <input type="text"  name = "bp" placeholder="bp " required="required" /></h4>
            <h4>Enter : <input type="text"  name = "pedigree" placeholder=" pedigree" required="required" /></h4>
            
             
              <button id="btn" type="submit" class="btn">Predict</button>
        </form>
        
       
    </center>
    </body>

</html>